body {
    margin: 0;
    font-family: Helvetica, sans-serif;
}

nav {
    background-color: sienna ;
    padding: 0 20;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.menu {
    color: white;
    list-style-type: none;
    width: 40%;
    display: flex;
    font-family: helvetica, sans-serif;

}

.menu li {
    padding: 15px;
    text-align: right;
}

img {
 width: 20%;
 height: auto;
}

h2 {
    text-align: center;
    color:sienna;
}

p {
    text-indent: 20px;
    padding: 10px;
    text-align: center;
}

.logo {
    
}

.Company {
    color:sienna;
    text-align: center;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    height:auto;
}

Button {
    color:seashell;
    background-color:sienna;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-radius: 8px;
    margin: 5px;
    float: left;
}

Button:hover {
    background-color:rgb(121, 78, 59);
}

