body {
    margin: 0;
}

nav {
    background-color: black ;
    padding: 0 20;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


img {
 width: 20%;
 height: auto;
 max-width: 150px;
}

h2 {
    text-align: center;
    color:sienna;
}

p {
    text-indent: 20px;
    padding: 10px;
}

.Company {
    color:sienna;
    text-align: center;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    height:auto;
}

Button {
    color:seashell;
    background-color:sienna;
    padding: 10px;
}